#app {
font-family: 'poppins' sans-serif;
background-color: white;
background-image: url("../images/background.png"); 
background-repeat: repeat-x;
}

.btn btn-lg btn-success {
    font-weight: bold;
}

.right-content-enter {
    text-align: right;
}

.nav-link {
    font-weight: bold;
}
