#app {
font-family: 'poppins' sans-serif;
    background-color: white;
    background-image: url("D:\Downloads\Telegram Desktop\background_1.png");
    background-repeat: no-repeat;
    background-size: 1265px;
    height: 650px;
}

.btn btn-lg btn-success {
    font-weight: bold;
}

.right-content-enter {
    text-align: right;
}

.nav-link {
    font-weight: bold;
}

