#app {
font-family: 'poppins' sans-serif;
}

.btn btn-lg btn-success {
    font-weight: bold;
}
.home {
    background-color: white;
    background-image: url("C:\Users\ASUS\OneDrive\Pictures\Screenshots\2022-06-09.png");
    background-repeat: repeat-x;
}

.right-content-enter {
    text-align: right;
}

.nav-link {
    font-weight: bold;
}
